:root {
    --color-dark: #000;
    --color-white: #fff;
    --color-gold: #FFBF00;
    --color-red: #ff0000;
    --color-pdf: #f51818d3;
    --color-edit: #0011ff;
    --color-test: #15ff00;
    --color-black-transparent: rgba(0, 0, 0, 0.384);
    --color-white-transparent: rgba(255, 255, 255, 0.15);
    --color-white-transparent-form: rgba(255, 255, 255, 0.595);

}

:root {
    --color-azul-base: #1E45B1;
    --color-azul-oscuro: #222347;
    --color-claro-oscuro: #DCD3D8;
    --color-rojo-claro: #BF0707;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

body {
    background-color: var(--color-claro-oscuro);
}

.sidebar {
    background-color: var(--color-azul-base);
    box-shadow: 2px 2px 5px var(--color-black-transparent);
    width: 345px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 100;
    overflow: auto;
    transition: width 300ms;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar_brand {
    height: 125px;
    padding: 1rem 0rem 1rem 8rem;
}

.sidebar_brand span {
    display: inline-block;
    padding-right: 1rem;
}

.sidebar_brand span img {
    border-radius: 50%;
}


.sidebar_menu {
    margin-top: 1rem;

}

.sidebar_menu li {
    width: 100%;
    margin-bottom: 1.5rem;
    padding-left: 1rem;
}



.sidebar_menu a {
    display: block;
    color: var(--color-white);
    font-size: 1.2rem;
    padding-left: 1.4rem;
    justify-content: center;
}

.sidebar_menu a:hover {
    padding-top: 0.2rem;
    padding-bottom: 0.5rem;
    border-radius: 30px 0px 0px 30px;
    background-color: var(--color-black-transparent);
    color: var(--color-white);
    box-shadow: 2px 2px 5px 5px var(--color-claro-oscuro);
    transition: .2s;
}

.sidebar_menu a.active {
    background-color: var(--color-claro-oscuro);
    color: var(--color-dark);
    padding-top: 0.2rem;
    padding-bottom: 0.1rem;
    border-radius: 30px 0px 0px 30px;
    display: flow-root;
}

.sidebar_menu a.active:hover {
    background-color: var(--color-black-transparent);
    color: var(--color-white);
    box-shadow: 2px 2px 5px 5px var(--color-claro-oscuro);
}

.sidebar_menu img.active {
    border-radius: 50%;
}

.sidebar_menu a span:first-child {
    font-size: 1.5rem;
    padding-right: 0.2rem;
}

#nav-toggle:checked+.sidebar {
    width: 70px;
}

#nav-toggle:checked+.sidebar .sidebar_brand h2,
#nav-toggle:checked+.sidebar li {
    padding-left: 1rem;
    text-align: center;
}

#nav-toggle:checked+.sidebar li a {
    padding-left: 0rem;
}



#nav-toggle:checked+.sidebar .sidebar_brand h2 span:last-child,
#nav-toggle:checked+.sidebar li a span:last-child {
    display: none;
}

#nav-toggle:checked~.main_content {
    margin-left: 70px;
}

#nav-toggle:checked~.main_content header {
    width: calc(100% - 70px);
    left: 70px;
}

.main_content {
    transition: margin-left 300ms;
    margin-left: 345px;
}



header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    background-color: var(--color-rojo-claro);
    box-shadow: 2px 2px 5px var(--color-black-transparent);
    position: fixed;
    left: 345px;
    width: calc(100% - 345px);
    top: 0;
    z-index: 100;
    color: var(--color-white);
    transition: left 300ms;
}

#nav-toggle {
    display: none;
}

header h2 {
    color: var(--color-white);
}

header label span {
    font-size: 1.7rem;
    padding-left: 1rem;
    color: var(--color-white);
}

.user_wrapper {
    display: flex;
    align-items: center;
    color: var(--color-white);
}

.user_wrapper img {
    border-radius: 50%;
    margin-right: 1rem;
}


.user_wrapper small {
    display: inline-block;
    color: var(--color-white);
}

main {
    margin-top: 85px;
    padding: 2rem 1.5rem;
    min-height: calc(100vh -90px);
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
}

.card_single {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-claro-oscuro);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 5px var(--color-dark);
    transition: .4s;
}


.card_single:hover {
    background-color: var(--color-azul-base);
    color: var(--color-white);
    box-shadow: 2px 2px 5px 5px var(--color-dark);
    cursor: pointer;
}

.card_single div:last-child span {
    font-size: 3rem;
}

.card_single div:first-child span {
    font-size: 1.5rem;
}


.card_order {
    display: flex;
    justify-content: center;
    background-color: var(--color-gold);
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 5px var(--color-dark);
    transition: .4s;
}

.card_order img {
    width: 150px;
}

.card_order:hover {
    background-color: var(--color-black-transparent);
    color: var(--color-white);
    box-shadow: 2px 2px 5px 5px var(--color-gold);
    cursor: pointer;
}

.card_order div:last-child span {
    font-size: 3rem;
}

.card_order div:first-child span {
    font-size: 1.5rem;
}

.recent_grid {
    margin-top: 3.5rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 65% auto;
}

.card {
    background: var(--color-claro-oscuro);
    box-shadow: 2px 2px 5px 5px var(--color-dark);
    border-radius: 15px;
}

.card:hover {
    background: var(--color-white-transparent-form);
    transition: 0.3s;
}

.card_header,
.card_body {
    padding: 1rem;
}

.card_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_header button {
    background-color: var(--color-azul-oscuro);
    color: var(--color-white);
    border-radius: 10px;
    font-size: 1rem;
    padding: .5rem 1rem;
    box-shadow: 1px 1px 3px 3px var(--color-dark);
    cursor: pointer;
    transition: 0.3s;
}

.card_header button:hover {
    background-color: var(--color-azul-base);
    box-shadow: 1px 1px 3px 3px var(--color-dark);
    color: var(--color-white);
}


table {
    border-collapse: collapse;
}

thead tr {
    border-top: 1px solid var(--color-dark);
    border-bottom: 2px solid var(--color-dark);
}

thead td {
    font-weight: 700;
}

td {
    padding: .5rem 1rem;
    font-size: .9rem;
}

td status {
    display: inline-block;
    height: 20px;
    width: 10px;
    border-radius: 50%;
    margin-right: 1rem;
}

tr td:last-child {
    display: flex;
    align-items: center;
}

.table_responsive {
    width: 100%;
    overflow-x: auto;
}

.mat_prim {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem .7rem;
}

.info {
    display: flex;
    align-items: center;
}

.info img {
    border-radius: 15px;
    margin-right: 1rem;
}

.info h4 {
    font-size: .8rem;
    font-weight: 700;
}

.info small {
    font-weight: 600;
}

@media only screen and (max-width: 1200px) {
    .sidebar {
        width: 70px;
    }



    .sidebar_brand h2,
    .sidebar li {
        padding-left: 1rem;
        text-align: center;
    }

    .sidebar li a {
        padding-left: 0rem;
    }


    .sidebar_brand h2 span:last-child,
    .sidebar li a span:last-child {
        display: none;
    }

    .main_content {
        margin-left: 70px;
    }

    .main_content header {
        width: calc(100% - 70px);
        left: 70px;
    }

}

@media only screen and (max-width: 960px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .recent_grid {
        grid-template-columns: 60% 40%;
    }
}


@media only screen and (max-width: 768px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .recent_grid {
        grid-template-columns: 100%;
    }

    .sidebar {
        left: -100% !important;
    }

    header h2 {
        display: flex;
        align-items: center;
    }

    header h2 label {
        display: inline-block;
        background: var(--color-rojo-claro);
        padding-right: 0rem;
        margin-right: 1rem;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        color: var(--color-dark);
        display: flex;
        align-items: center;
        justify-content: center !important;
    }

    header h2 span {
        text-align: center;
        padding-left: 0rem;
    }

    header h2 {
        font-size: 1.1rem;
    }

    .main_content {
        width: 100%;
        margin-left: 0rem;
    }

    header {
        width: 100% !important;
        left: 0 !important;
    }

    #nav-toggle:checked+.sidebar {
        left: 0 !important;
        z-index: 100;
        width: 345px;

    }

    #nav-toggle:checked+.sidebar:hover .sidebar_brand,
    #nav-toggle:checked+.sidebar:hover li {
        padding-left: 2rem;
        text-align: left;
    }

    #nav-toggle:checked+.sidebar li a {
        padding-left: 1rem;
    }

    #nav-toggle:checked+.sidebar_brand h2 span:last-child,
    #nav-toggle:checked+.sidebar li a span:last-child {
        display: inline;
    }

    #nav-toggle:checked~.main_content {
        margin-left: 0rem !important;
    }
}

@media only screen and (max-width: 560px) {
    .cards {
        grid-template-columns: 100%;
    }

}

.options_bar {
    background-color: var(--color-azul-base);
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 15px 15px 0px 0px;
    transition: .2s;
    color: var(--color-white);
}


.options_bar .titulo {
    align-items: center;
    justify-content: center;
}


.options_bar h1 {
    font-size: bold;
    margin-left: 6px;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
}

.options_bar:hover {
    background-color: var(--color-azul-base);
    color: var(--color-white);
}



.btn-open-popup {
    background-color: var(--color-black-transparent);
    color: var(--color-white);
    border-radius: 10px;
    font-size: 1rem;
    padding: .5rem 1rem;
    box-shadow: 1px 1px 3px 3px var(--color-dark);
    transition: 0.3s;
}

.btn-open-popup:hover {
    background-color: var(--color-claro-oscuro);
    color: var(--color-dark);
}

.search_wrapper {
    box-shadow: 1px 1px 3px 3px var(--color-dark);
    background-color: var(--color-test);
    border-radius: 0px 10px 0px 0px;
    padding: 6px;
    transition: 0.3s;
}

.search_wrapper:hover {
    background-color: var(--color-gold);
    color: var(--color-dark);
}

.search {
    background-color: var(--color-white-transparent);
    padding: 6px;
    border-radius: 0px 10px 0px 0px;
}

.search::placeholder {
    color: var(--color-white);
}

.search:hover {
    background-color: var(--color-black-transparent);
    color: var(--color-white);
    padding: 6px;
}

.container_table {
    background-color: var(--color-white-transparent);
    width: 100%;
    overflow-x: auto;
}

.container_table .input_table {
    display: flex;
    margin-top: 2%;
    font-size: 15px;
    padding: 8px;
    width: 320px;
    border: none;
    border-radius: 15px;
    color: var(--color-white);
    background-color: var(--color-black-transparent);
    transition: .2s;
}

.container_table .input_table::placeholder {
    color: var(--color-white);
    font-weight: bold;
}

.container_table .input_table:hover {
    font-weight: bold;
    color: var(--color-dark);
}

.container_table:hover {
    background-color: var(--color-white-transparent-form);
}

.tbl_views {
    padding: 12px;
    border-collapse: collapse;
    width: 100%;
    margin-top: 0;
}

.tbl_views thead tr td {
    border: 1px solid var(--color-dark);
    border-bottom: 2px solid var(--color-dark);
}


.tbl_views tr:hover {
    background-color: var(--color-rojo-claro);
    color: var(--color-white);
}

.tbl_views td {
    padding: .5rem 1rem;
    font-size: .9rem;
}

.tbl_views .button_1 {
    text-decoration: none;
    color: var(--color-dark);
    font-weight: bold;
    font-size: 20px;
    width: 10px;
    height: 10px;
}

.tbl_views .button_1:hover {
    color: var(--color-pdf);
    font-size: 22px;
    transition: .2s;
}

.tbl_views .button_2 {
    text-decoration: none;
    color: var(--color-dark);
    font-weight: bold;
    font-size: 20px;
    width: 10px;
    height: 10px;
}

.tbl_views .button_2:hover {
    color: var(--color-white);
    font-size: 22px;
    transition: .2s;
}

.tbl_views .button_3 {
    text-decoration: none;
    color: var(--color-dark);
    font-weight: bold;
    font-size: 20px;
    width: 10px;
    height: 10px;
}

.tbl_views .button_3:hover {
    color: var(--color-red);
    font-size: 22px;
    transition: .2s;
}





.frm_crear_u {
    display: flex;
    flex-direction: column;
    background: var(--color-azul-base);
    box-shadow: 1px 1px 3px 3px var(--color-dark);
    border-radius: 15px;
    padding: 2%;
    transition: .2s;
    color: var(--color-white);
    max-width: 1200px;
}


.body_form {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.left-column,
.right-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.frm_crear_u input {
    margin-top: 2%;
    font-size: 15px;
    padding: 8px;
    width: 320px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 15px;
    color: var(--color-white);
    background-color: var(--color-black-transparent);
    border: 2px solid var(--color-dark);
    box-shadow: 1px 1px 3px 3px var(--color-dark);
    transition: .2s;
}

.frm_crear_u input::placeholder {
    color: var(--color-white);
    font-weight: bold;
}

.frm_crear_u input:hover {
    background-color: var(--color-rojo-claro);
    box-shadow: 1px 1px 3px 3px var(--color-claro-oscuro);
}

.frm_crear_u select {
    margin-top: 2%;
    font-size: 15px;
    width: 320px;
    padding: 8px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 15px;
    color: var(--color-white);
    background-color: var(--color-black-transparent);
    border: 2px solid var(--color-dark);
    box-shadow: 1px 1px 3px 3px var(--color-dark);
    transition: .2s;
}

.frm_crear_u select:hover {
    background-color: var(--color-rojo-claro);
    box-shadow: 1px 1px 3px 3px var(--color-claro-oscuro);
}

.input-group {
    position: relative;
    width: 250px;
}

.input-date {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    border-radius: 15px;
    border: 2px solid #000;
    color: #fff;
    font-weight: bold;
}

.floating-label {
    position: absolute;
    left: 20px;
    top: 16px;
    color: #fff;
    padding: 0 5px;
    pointer-events: none;
    transition: 0.2s;
    font-size: 16px;
}

.input-date:focus~.floating-label,
.input-date:not(:placeholder-shown)~.floating-label {
    top: -12px;
    left: 10px;
    font-size: 12px;
    color: var(--color-white);
}

.frm_crear_u button {
    margin-left: 2%;
    font-size: 20px;
    width: 150px;
    padding: 8px;
    border-radius: 15px;
    color: #fff;
    background-color: var(--color-black-transparent);
    box-shadow: 1px 1px 3px 3px var(--color-dark);
    transition: .2s;
    cursor: pointer;
}

.frm_crear_u button:hover {
    font-weight: bold;
    color: var(--color-white);
    background-color: var(--color-azul-oscuro);
    box-shadow: 1px 1px 3px 3px var(--color-claro-oscuro);
}



.header_form {
    padding: 10px;
}

.header_form h1 {
    font-size: 25px;
}

.header_form i {
    font-size: 35px;
    font-weight: bold;
}

.frm_crear_u .check_prod {
    margin-top: 2%;
    align-items: center;
    margin-left: 25px;

}

.frm_crear_u .form_checkbox {
    display: flex;
    align-items: center;
    margin-top: 5%;
}

.frm_crear_u .x_check {
    margin-right: 8px;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    color: #FFBF00;
}

.frm_crear_u .x_check:hover {
    background-color: #FFBF00;
}


.div_gen {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--color-test);
    background-color: var(--color-test);
}